.header-container {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid black;
}

h1 {
    font-size: 5rem;
    color: rgb(6, 28, 151);
}

h2 {
    font-size: 2.5rem;
    color: rgb(69, 94, 236);
}


/* 1st child */

.header-title {
    font-weight: bold;
    text-align: center;
    font-size: 6rem;
    width: 80%;
}